@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Roboto:ital,wght@1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.5s ease;
}

html {
    font-family: 'Roboto Mono', monospace;
    font-size: 100%;
    scroll-behavior: smooth;
}