@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Roboto:ital,wght@1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.5s ease;
}

html {
    font-family: 'Roboto Mono', monospace;
    font-size: 100%;
    scroll-behavior: smooth;
}

.about {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 25%;
    left: 15%;
    padding: 2rem;
    border: #0a4b3e 1px solid;
}

.subject-title {
    font-size: 4rem;
    color: deeppink;
}

.credentials-executors {
    font-size: 2rem;
}

.btn-lab {
    padding: 0.5rem 2rem;
    width: 70%;
    color: deeppink;
}