<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>EcoMonitoring</title>
    <link href="/css/head.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<div class="about">
    <p class="subject-title">Екологічний Моніторинг </p>
    <p class="credentials-executors"> Група: TM-01</p>
    <p class="font-weight-light">Виконали: Акішов Андрій, Осипенко Катерина, Шишкін Захар</p>
    <div style="display: flex; flex-direction: column; gap: 1rem;">
        <div style="display: flex; flex-direction: row; gap: 2rem;">
            <button class="btn-lab"><a href="/lab1/list">Lab 1</a></button>
            <button class="btn-lab"><a href="/lab2/list">Lab 2</a></button>
        </div>
        <div style="display: flex; flex-direction: row; gap: 2rem;">
            <button class="btn-lab"><a href="/lab3/list">Lab 3</a></button>
            <button class="btn-lab"><a href="/lab4/list">Lab 4</a></button>
        </div>
    </div>
</div>
</body>
</html>