<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>EcoMonitoring</title>
    <link href="/css/head.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<div class="about">
    <p class="subject-title">Екологічний Моніторинг </p>
    <p class="credentials-executors"> Група: TM-01</p>
    <p class="font-weight-light">Виконали: Акішов Андрій, Осипенко Катерина, Шишкін Захар</p>
    <button class="btn-lab1"><a href="/lab1/list">Lab 1</a></button>
    <button class="btn-lab2"><a href="/lab2/list">Lab 2</a></button>
    <button class="btn-lab2"><a href="/lab3/list">Lab 3</a></button>
</div>
</body>
</html>